@tailwind base;
@tailwind components;

@font-face {
  font-family: "Sailec";
  src: url("./assets/fonts/Sailec-Bold.eot");
  src: url("./assets/fonts/Sailec-Bold.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Sailec-Bold.woff2") format("woff2"),
    url("./assets/fonts/Sailec-Bold.woff") format("woff"),
    url("./assets/fonts/Sailec-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sailec";
  src: url("./assets/fonts/Sailec-Regular.eot");
  src: url("./assets/fonts/Sailec-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Sailec-Regular.woff2") format("woff2"),
    url("./assets/fonts/Sailec-Regular.woff") format("woff"),
    url("./assets/fonts/Sailec-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sailec";
  src: url("./assets/fonts/Sailec-Medium.eot");
  src: url("./assets/fonts/Sailec-Medium.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/Sailec-Medium.woff2") format("woff2"),
    url("./assets/fonts/Sailec-Medium.woff") format("woff"),
    url("./assets/fonts/Sailec-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Sailec";
  src: url("./assets/fonts/Sailec-Light.eot");
  src: url("./assets/fonts/Sailec-Light.eot?#iefix") format("embedded-opentype"),
    url("./assets/fonts/Sailec-Light.woff2") format("woff2"),
    url("./assets/fonts/Sailec-Light.woff") format("woff"),
    url("./assets/fonts/Sailec-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@tailwind utilities;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.wrapper {
  @apply container max-w-none w-full min-h-screen bg-white-off pb-12;
}

.header--payout {
  @apply w-full bg-white-main px-2;
}

.payout-steps {
  @apply flex flex-1 justify-between items-center;
}

.progress-bar {
  background: linear-gradient(90deg, #4305eb 64.83%, #636166 99.42%);
}

.payout-steps__tab {
  @apply pt-2 relative text-center;
  flex: 0 0 25%;
}

.payout-steps__tab--active {
  @apply text-[12px] text-black-default;
}

.payout-steps__tab__indicator {
  @apply inline-block absolute top-[-4px] left-[50%] w-[7px] h-[7px] rounded-lg bg-black-default;
  transform: translateX(-50%);
}

.payout-steps__tab__text {
  @apply px-2 md:px-2 text-[12px] text-grey-label;
}

.payout-steps__tab__text--active {
  @apply px-2 md:px-2 text-[12px] text-black-default;
}

.card {
  @apply mx-auto mt-[65px] p-5 sm:p-8 w-[90%] xs:w-[80%] sm:w-[508px] min-h-[372px] bg-white-main border-solid border border-white-border;
}

.card-heading__primary {
  @apply text-base leading-6 font-medium text-blue-text not-italic;
}

.card-heading__secondary {
  @apply text-sm leading-6 text-grey-text font-normal not-italic;
}

.label {
  @apply leading-6 text-grey-label;
}

.label--inset {
  @apply leading-6 text-grey-label text-xs absolute top-2 left-4;
}

.input {
  @apply w-[100%] sm:w-[442.72px] border-solid border outline-none text-lg rounded;
}

.dropdown__container {
  @apply w-[90px] sm:w-[129.2px] min-h-[65px] absolute top-0 right-0;
}

.dropdown__toggle {
  @apply z-10 w-[90px] sm:w-[129.2px] h-[63px] flex justify-center items-center outline-none bg-no-repeat bg-right appearance-none  bg-white-bg;
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTAiIGhlaWdodD0iNSIgdmlld0JveD0iMCAwIDEwIDUiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC4wOTM1MDU5IDAuNTQzOTQ1SDkuNTg4ODNMNC44NDExNyA0LjM2NzQ3TDAuMDkzNTA1OSAwLjU0Mzk0NVoiIGZpbGw9IiMzNzIyNzEiLz4KPC9zdmc+Cg==");
  background-size: 9px 9px;
  background-position: right 8px top 50%;
  position: inherit;
  top: 1px;

  @media screen and (min-width: 640px) {
    background-position: right 20px top 50%;
  }
}

.dropdown__list {
  @apply z-30 bg-white-main min-h-[65px];
}

.dropdown__list__item {
  @apply w-[90px] sm:w-[129.2px] h-[65px] border cursor-pointer border-solid hover:bg-white-bg border-white-bg flex justify-center items-center outline-none bg-no-repeat bg-right appearance-none;
}

.dropdown__list__item__image {
  @apply w-[18px] h-[18px];
}

.dropdown__list__item__text {
  @apply mx-2 text-sm text-blue-bold;
}

.btn {
  @apply text-[13px] sm:text-base rounded-md h-[50px] text-center;
  outline: 0 !important;
}

.flex-item {
  flex: 0 0 40%;
}
